<h3>HiMama Logsheet</h3>
<div class="section">
    <p class="lead">Time log for user activities</p>
</div>
<div class="divider"></div>
    <div class="section">
        <a href="/auth/google" class="btn">
            Log in with Google
        </a>
</div>