<h3>Clock out</h3>
<div class="row">
    <form action="/timelogs" method="POST" class="col s12">
        <div class="row">
            <div class="input-field">
                <input type="text" id="description" name="description">
                <label for="description">Description</label>
            </div>
        </div>

        <div class="row">
            <input type="submit" value="Clock Out" class="btn">
            <a href="/dashboard" class="btn orange">Return</a>
        </div>
    </form>
</div>